{% extends "base.html" %}

{% block content %}
<section>
    <div class="container px-2 py-3">
      <div class="row flex-md-row-reverse py-3 m-0">
        <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center">
          <img
            src="https://res.cloudinary.com/dmlp9qrmo/image/upload/v1673808191/Food%20blog.jpg"
            class="img-fluid family-image"
            alt="Food blog"
          />
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-5 col-lg-7 hero-text-outer text-center">
          <h1 class="mt-4 mb-2 hero-text">Hello to everyones food blog</h1>
          <div class="lead mt-4">
            Add a new recipe
            <a
              class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
              href="#"
              >Lets do this!</a
            >
          </div>
        </div>
        {% else %}
        <div class="col-md-5 col-lg-7 hero-text-outer text-center">
          <h1 class="mt-4 mb-2 hero-text">What are you waiting for?</h1>
          <div class="lead mt-4">
            Lets make it happen now
            <a
              class="btn btn-outline-dark rounded-pill btn-lg ml-2 my-2 my-lg-0"
              href="{%  url 'account_signup' %}"
              >Regsiter</a
            >
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="row">
      <hr class="bg-black border-0 my-5">


        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
          <h1 class="mt-4 mb-2 hero-text text-center">Check these cool recipes</h1>
            <div class="row my-5">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dmlp9qrmo/image/upload/v1673808166/sample.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author.first_name}}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
  
{%endblock%}